# Data Preprocessing

In [ ]:
# Download it using wget (Linux) or manually download it and place on the same folder as this notebook
!wget https://archive.ics.uci.edu/ml/machine-learning-databases/census1990-mld/USCensus1990.data.txt

--2022-04-15 23:41:11--  https://archive.ics.uci.edu/ml/machine-learning-databases/census1990-mld/USCensus1990.data.txt
Resolving archive.ics.uci.edu (archive.ics.uci.edu)... 128.195.10.252
Connecting to archive.ics.uci.edu (archive.ics.uci.edu)|128.195.10.252|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 361344227 (345M) [application/x-httpd-php]
Saving to: ‘USCensus1990.data.txt’

USCensus1990.data.t  11%[=>                  ]  41.05M  28.7MB/s               ^C

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
import pandas as pd
import numpy as np

In [ ]:
df1 = pd.read_csv('USCensus1990.data.txt',index_col=0)

ParserError: ignored

In [ ]:
df1.head()

Clean data
1. remove undesired attribute
2. remove instance with missing/incorrect arttribute value
3. random select 2w instances

In [ ]:
df1.describe().round(decimals=1)

In [ ]:
df1.columns

In [ ]:
# "i" means using original value, "d" means use mapped value e.g. continous to categorical
# df_clean = df[["dAge", "iCitizen","iDisabl1","iDisabl2",
#                     "iEnglish","iImmigr","iLang1",
#                     "iMarital","dOccup","iRelat1", "iRelat2",
#                     "iRlabor","dRpincome",
#                     "iSchool","iSex","iYearsch"]]

df_clean = df1[["dAge", "iCitizen","iDisabl1","iDisabl2",
                    "iEnglish","iImmigr","iLang1",
                    "iMarital","iRlabor", "iSchool", "iSex", "iYearsch", "iClass"]]

In [ ]:
df_clean

In [ ]:
df_clean['iClass_B'] = np.where( (df_clean['iClass'] == 0) | (df_clean['iClass'] == 1 ) | (df_clean['iClass'] == 2 ) | (df_clean['iClass'] == 6 ) | (df_clean['iClass'] == 7) | (df_clean['iClass'] == 8) | (df_clean['iClass'] == 9 ),0,1)

In [ ]:
df_clean1 = df_clean.loc[df_clean['iClass_B']== 1][:10000]
df_clean2 = df_clean.loc[df_clean['iClass_B']== 0][:10000]
df_clean_2w = df_clean1.append(df_clean2)

In [ ]:
df_clean_2w.describe().round(decimals=1)

In [ ]:
df_clean_2w.iClass_B.describe()

3. random select 2w instances

In [ ]:
# df_clean_2w = df_clean.sample(n=20000)

In [ ]:
df_clean_2w = df_clean_2w.sample(frac=1)

In [ ]:
df_clean_2w

In [ ]:
# df_clean_2w.to_csv()
compression_opts = dict(method='zip',
                        archive_name='USCensus1990_clean_iClass.csv')  
df_clean_2w.to_csv('USCensus1990_clean.zip', index=False,
          compression=compression_opts)

# Data Description

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

import pandas as pd
import numpy as np

path = 'drive/My Drive/MIE424project/USCensus1990_clean_iClass.csv'
df2 = pd.read_csv(path,index_col=0)

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
df2.head()

,iCitizen,iDisabl1,iDisabl2,iEnglish,iImmigr,iLang1,iMarital,iRlabor,iSchool,iSex,iYearsch,iClass,iClass_B
dAge,,,,,,,,,,,,,
6,0,2,2,1,0,1,0,1,1,0,10,3,1
6,0,2,2,0,0,2,0,6,1,1,15,3,1
5,0,2,2,0,0,2,2,1,1,0,12,2,0
3,4,2,2,1,2,1,0,1,1,1,14,5,1
1,0,0,0,0,0,0,4,0,0,0,0,0,0

In [ ]:
df2.describe().round(decimals=1)

,iCitizen,iDisabl1,iDisabl2,iEnglish,iImmigr,iLang1,iMarital,iRlabor,iSchool,iSex,iYearsch,iClass,iClass_B
count,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0,20000.0
mean,0.2,1.7,1.7,0.2,0.4,1.8,1.5,2.2,1.2,0.5,9.9,2.4,0.5
std,0.9,0.7,0.7,0.6,1.6,0.5,1.8,2.2,0.5,0.5,3.9,1.9,0.5
min,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
25%,0.0,2.0,2.0,0.0,0.0,2.0,0.0,1.0,1.0,0.0,8.0,1.0,0.0
50%,0.0,2.0,2.0,0.0,0.0,2.0,0.0,1.0,1.0,1.0,10.0,3.0,0.5
75%,0.0,2.0,2.0,0.0,0.0,2.0,4.0,4.0,1.0,1.0,13.0,4.0,1.0
max,4.0,2.0,2.0,4.0,10.0,2.0,4.0,6.0,3.0,1.0,17.0,9.0,1.0

In [ ]:
df2 = df2.assign(subject=1)

In [ ]:
df2

,iCitizen,iDisabl1,iDisabl2,iEnglish,iImmigr,iLang1,iMarital,iRlabor,iSchool,iSex,iYearsch,iClass,iClass_B,subject
dAge,,,,,,,,,,,,,,
6,0,2,2,1,0,1,0,1,1,0,10,3,1,1
6,0,2,2,0,0,2,0,6,1,1,15,3,1,1
5,0,2,2,0,0,2,2,1,1,0,12,2,0,1
3,4,2,2,1,2,1,0,1,1,1,14,5,1,1
1,0,0,0,0,0,0,4,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5,0,2,2,0,0,2,0,1,1,0,15,3,1,1
5,0,2,2,0,0,2,0,1,2,1,15,2,0,1
3,4,2,2,4,1,1,4,1,1,0,5,1,0,1
6,0,2,2,0,0,2,0,1,1,0,6,1,0,1
5,0,2,2,0,0,2,0,1,1,1,11,1,0,1

In [ ]:
pd.pivot_table(df2, values="subject", index=["iSex"], columns=["iClass_B"],aggfunc="count")

iClass_B     0     1
iSex
0         4849  4981
1         5151  5019